---
title: "How to get the most out of GitLab Commit"
author: Emily Kyle
author_gitlab: emily
author_twitter: gitlab
categories: company
image_title: '/images/blogimages/gitlabcommitbrooklyn.png'
description: "We’re taking over the Williamsburg neighborhood of Brooklyn and opening up our world to you. Here’s everything you need to know."
tags: community, contributors, events, DevOps
merch_banner_destination_url: "/resources/ebook-single-app-cicd"
merch_banner_image_source: "/images/merchandising-content/benefits-of-single-app-cicd.jpg"
merch_banner_body_title: "Free eBook: The benefits of single application CI/CD"
merch_banner_body_content: "Download the ebook to learn how you can utilize CI/CD without the costly integrations or plug-in maintenance."
merch_banner_cta_text: "Learn more"
merch_sidebar_destination_url: "/resources/ebook-single-app-cicd/"
merch_sidebar_image_source: "/images/merchandising-content/benefits-of-single-app-cicd.jpg"
merch_sidebar_body_title: "Single application CI/CD"
merch_sidebar_body_content: "How to reduce costly integrations and plug-in maintenance."
merch_sidebar_cta_text: "Learn more"
twitter_text: Are you ready for @gitlab’s first ever user conference? Here’s what you need to know about Commit.
featured: yes
postType: corporate
---

We’re (almost!) ready – are you? The inaugural GitLab Commit in Brooklyn is just around the corner.  We wanted to share some details on the event and how to get the most out of it while you’re onsite and after it’s over.

When planning this event we made the strategic choice to avoid convention centers and stuffy hotel ballrooms. We like to be a bit more playful (and out of the box) in how we approach our community and events. We decided to model this event after a block party and on Tuesday September 17 we’ll be taking over 8 venues. On your walk from the subway you’ll notice the street has been “GitLabbed” and will be full of signs. Everything – signs, content, staff – will welcome you. If we did it right it will be quirky, fun, innovative, collaborative, and inclusive. A small block in Brooklyn will _be_ GitLab for a day. We can’t wait to share that vision with everyone attending.

Start by checking in at the Williamsburg Hotel, 96 Wythe Ave, Brooklyn, NY 11249
(between Nassau St. on the G or Bedford Ave. on the L). Don’t forget to grab breakfast treats and coffee.
Over the course of the day we will also have sessions and activities in and around the following
venues: the  [Wythe Hotel](https://wythehotel.com), [Schimanski](https://www.schimanskinyc.com),
[Brooklyn Bowl](https://www.brooklynbowl.com), [Kinfolk 90](https://kinfolklife.com/locations/kinfolk-90/) & [Kinfolk 94](https://kinfolklife.com/locations/kinfolk-94/). Each venue serves a specific function and has its own personality but each one flows seamlessly into the next one.

![Map of GitLab Commit](/images/blogimages/gitlabcommitmap.png){: .shadow.small.center.wrap-text}

It’s a neighborhood takeover!
{: .note.text-center}

## Remember to schedule

You can find the schedule [here](https://gitlabcommit2019brooklyn.sched.com). To get the most out of your day on site, we suggest building out your schedule in the sched link just mentioned so you can reserve your slot in each of the tracks. There will be 3 tracks – cloud native, DevOps in action, and powered by GitLab – and each will be color coded to help you navigate throughout the day.

<%= partial "includes/blog/blog-merch-sidebar" %>

## And it’s not over yet…

We will close out the day of sessions at the historic Brooklyn Bowl directly following the the day’s packed lineup for networking, food & beverages and of course bowling. The party kicks off at 5 pm.

## Other important details

Looking for a well brewed cappuccino or latte?  Kinfolk 90 will be serving Commit attendees with a badge from 12pm-5pm at no charge, so drop in between sessions.

Have questions about our product offerings, a nagging support item, want deeper insight into our security offerings, or time to visit with some of our sponsors?  The Library at the Williamsburg Hotel will be open all day for some one-to-one interaction.

Lastly we have a [few spots still open](https://about.gitlab.com/events/commit/) if you want to get in on this action packed day of learning! There is also still time to sign up for our [London event](/events/commit/#) in October.

<%= partial "includes/blog/blog-merch-banner" %>