---
title: GitLab Contribute
description: "Contribute is our annual GitLabber community event. We get together to get face time with one another, build community, and get some work done! Since our team is scattered all over the globe, we try to plan a different location for each GitLab Contribute."
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
layout: default
suppress_header: true
extra_css:
  - event.css
  - event-commit.css
  - simplify-devops.css
  - event-contribute.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---
= partial "/includes/events/contribute/hero1"
.gitlab-content-container.commit-content-container
  .content.commit-content
    .js-in-page-nav-group{ role: "main", offset: 0, showhash: "true" }
      = partial "/includes/events/contribute/main"

      .row.js-in-page-nav-section#travel
        .container
          .u-margin-top-md
            %h2.u-text-brand Lodging
            %p We will be staying at both the <a href="https://www3.hilton.com/en/hotels/czech-republic/hilton-prague-PRGHITW/index.html">Hilton Prague</a> (Pobřežní 1, Prague, Czech Republic, 186 00) and <a href="https://www3.hilton.com/en/hotels/czech-republic/hilton-prague-old-town-PRGOTHI/index.html">Hilton Prague Old Town</a> (V Celnici 7, Prague, Czech Republic, 110 00). Rooming assignments will be rolled out after registration closes,  around mid-February. We are also trying to provide as many single rooms as possible throughout the process to people who go above and beyond, but as always you will have the option to guarantee a private room with an out-of-pocket fee. We have negotiated rates at each of the hotels up to five days before and after the event for those wanting to extend their trip and for groups wanting to host team meetings. You will be able to express these preferences during registration.

      .row.js-in-page-nav-section#schedule
        .container
          .u-margin-top-md
            %h2.u-text-brand Timelines
            %p The registration portal will open October 21st. At that time you will be able to book travel, express rooming preferences, extended stay preferences, suggest workshops, and select excursions. <b>Please refrain from booking any travel prior to registration opening; we are working on a more seamless solution for flights and transportation this year</b>. We are still finalizing pricing for guests and the public. This will all be announced on the 21st as well. On the last day of every month, we will send out a newsletter to the team and those attending with updates on the event and tips on how to prep. Questions? Please feel free to reach out to <a href="mailto:contribute@gitlab.com">contribute@gitlab.com</a>.

            %h3 Sample agenda
            %p <em>Details subject to change slightly</em>
            %h5 Sunday Mar 22
            %ul
              %li Arrivals Day
            %h5 Monday Mar 23
            %ul
              %li Keynotes
              %li Workshops
              %li Traditional Czech Team Dinner
            %h5 Tuesday Mar 24
            %ul
              %li Workshops
              %li Excursions
              %li Evening activity offsite
            %h5 Wednesday Mar 25
            %ul
              %li Team day
            %h5 Thursday Mar 26
            %ul
              %li Excursions
              %li Final party
            %h5 Friday Mar 27
            %ul
              %li Departures day

      .row.js-in-page-nav-section#excursions
        .container
          .u-margin-top-md
            %h2.u-text-brand Excursions
            %p
              %em There are more to come and these options are a sample of what you'll be able to choose from.
            %ul
              %li Wake up Prague – Morning running / walking tour
              %li Brewery tour and beer spa
              %li Castle and winery tour
              %li Palace tour
              %li Photography excursion
              %li Culinary and cooking adventures
              %li Crystal factory and making
              %li Marionette making
              %li Jewish quarter tour
              %li Volunteer activity
            %p Note: there will be more flexibility in booking this year and we will keep spaces open to new hires. We will ask your top choices when you register to gauge interest in each of the options but you will not be locked in at this point.

      .row.js-in-page-nav-section#workshops
        .container
          .u-margin-top-md
            %h2.u-text-brand Workshops
            %p Do you have an idea for a Contribute workshop, or have a a topic you want to present yourself? <a href="https://gitlab.com/gitlab-com/marketing/contribute/contribute-2020/blob/master/.gitlab/issue_templates/workshop_submission.md">Create an issue here</a>.

      .row.js-in-page-nav-section#ambassadors
        .container
          .u-margin-top-md
            %h2.u-text-brand Ambassadors
            %p Want to nominate yourself or someone else to be part of the Contribute Ambassador volunteers? <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_mGw8eahy3XfTZfrnUTuXlqm9bdeF52Gp8fU6pUceTlW_-A/viewform">Submit this form</a>. Warning: not for the faint of heart, you get to experience Contribute more from the perspective of the organizers, rather than as an attendee. It can be very rewarding and we love your help, but if you love your sleep, this might not be the best fit for you with 1,200 expected attendees! Still want to help out, but don't have the bandwidth to get fully submerged in all things Contribute? That's OK! <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_mGw8eahy3XfTZfrnUTuXlqm9bdeF52Gp8fU6pUceTlW_-A/viewform>Submit the form</a> and include that information!

      .row.js-in-page-nav-section#about
        .container
          .u-margin-top-md
            %h2.u-text-brand About
            %h3 Why Contribute?
            %p The name and concept of Contribute stems from our <a href="/handbook/values/">GitLab Values</a> of Collaboration, Results, Effectiveness, Diversity, Iteration, and Transparency. We believe "everyone can contribute" and this motto is ingrained in everything we do and integral to our success as a team and company. We are better together and because of each other, so we ask at this event that everyone contribute.

            %h3 What to expect?
            %p This is not your average conference where you join sessions that we’ve set up for you and passively listen to the content. You are signing up to contribute to building and sharing with this community.

            %h3 Goals
            %p The goal of Contribute is to get to know the people in the GitLab community better. The better you know people, the easier it is to collaborate. We want to build trust and rapport between groups.

            %h3 2019 recap
            %p As you surely know, we are an all-remote company with <a href="/team/">over 900 team members in more than 55 countries worldwide</a>. Since we don’t have watercooler talk or an office we also do a lot of fun stuff when we are all get together! We would love for you to get to know us and each other, without a focus on your job or title. This way you will see the people that contribute to GitLab instead of just a name on your screen. We have a whole list of fun activities planned for 2020 and are excited to spend time with you.
            %iframe{ width: "140", height: "79", src: "https://www.youtube.com/embed/xdtPNXtkBhE", frameborder: "0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "" }


      .row.js-in-page-nav-section#contact
        .container
          .u-margin-top-md
            %h2.u-text-brand.text-center Contact
            %h4.text-center.u-margin-top-sm <a href="mailto:contribute@gitlab.com">contribute@gitlab.com</a>

%script{ src: "/javascripts/countdown.js", type: "text/javascript" }
%script{ src: "/javascripts/contribute.js", type: "text/javascript" }