%img.development-planet-rings{ src: "/images/dev-survey-2019/development-planet-rings.svg" }
%img.development-planet-bars{ src: "/images/dev-survey-2019/planet-bars.svg" }
%img.development-planet{ src: "/images/dev-survey-2019/development-planet.svg" }
