---
layout: default
title: GitLab Contributing Organizations program
suppress_header: true
extra_css:
  - contributing-orgs-common.css
  - faq.css
extra_js:
  - faq.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %img{ src: "/images/community/community-customers.svg", alt: "Gitlab community customers logo svg" }
    %h1 Join the ranks of GitLab Contributing Organizations!

.gitlab-content-container
  .content
    %p
      At GitLab everyone can contribute. As a matter of fact, many of our users provide valuable feedback and
      code to accelerate developing new GitLab features as a part of their job.

    %p
      The GitLab Contributing Organizations program seeks to empower and support
      organizations who are helping to shape GitLab and to guide
      them through their contribution journey.

    %h3
      Benefits

    %ul
      %li Training
      %li Dedicated support channel
      %li Badging for individual contributors
      %li Website listing of participating organizations

    %h3
      Requirements

    %p
      Participants must:
    %ul
      %li Have contributed at least one merged Merge Request (MR).
      %li Be part of an organization that endorses their contribution to GitLab as a part of their role.
      %li Make sustained contributions during the year (as measured by merged MRs).

.container-fluid.join-us#join-us
  .col-md-8.col-md-offset-2
    .text-center
      %h3
        Become a member
      -# haml-lint:disable LineLength
      %a.btn.cta-btn.accent.margin-top20{ href: "https://docs.google.com/forms/d/e/1FAIpQLSf8iUyCNHSO5SORp_KHGySnTjtYA_q0HerJh6PIbB1xqYdsWg/viewform?usp=sf_link" }
        Apply today

= partial "/includes/home/contributing-orgs-logos"

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      %ol.faq-container.list-unstyled
        %li.faq-item
          .faq-inner-item
            %a.faq-question.js-faq-question{ href: "#" }
              How's this program different from the Core Team?
              %i.fa.fa-angle-down.pull-right
            .faq-answer
              %p
                The
                %a{href: "https://about.gitlab.com/community/core-team/" } Core Team
                membership is not tied to an organization and
                Core Team membership is via invitation-only based on sustained
                contribution to GitLab over an extended period.
      %ol.faq-container.list-unstyled
        %li.faq-item
          .faq-inner-item
            %a.faq-question.js-faq-question{ href: "#" }
              Is this related to the GitLab DevOps Customer Advisory Board?
              %i.fa.fa-angle-down.pull-right
            .faq-answer
              %p
                No, the
                %a{href: "https://about.gitlab.com/handbook/marketing/product-marketing/customer-reference-program/#gitlab-devops-customer-advisory-board" } GitLab DevOps Customer Advisory Board
                is focused on sharing DevOps best practices and lessons learned with DevOps leaders in the industry.
      %ol.faq-container.list-unstyled
        %li.faq-item
          .faq-inner-item
            %a.faq-question.js-faq-question{ href: "#" }
              How's this program different from the Code Contributor Program?
              %i.fa.fa-angle-down.pull-right
            .faq-answer
              %p
                The Contributing Organizations Program is designed to recognize and support organizations who are making a sustained commitment to contributing to GitLab. The
                %a{href: "https://about.gitlab.com/handbook/marketing/community-relations/code-contributor-program/" } Code Contributor Program
                is focused on supporting individual contributors.
